@font-face {
    font-family: "OldNewspaperTypes";
    src: url("/fonts/OldNewspaperTypes.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.outlined-img {
  border: 4px solid #000;
}

body {
    font-family: "OldNewspaperTypes", serif;
    background-image: url('Media/Background2025.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
